

.New-Customer-container-first {
    background-color: rgb(241, 243, 248);
    padding: 20px;
    padding-top: 60px;
    transition: margin-left 0.5s ease;
  }
  
  .New-Customer-container-first.sidebar-expanded {
    margin-left: 250px;
  }
  
  .New-Customer-container-second {
    background-color: white;
    height: auto;
    padding: 20px;
    border-radius: 0.5rem;
    margin-left: 0px !important;
    max-width: 98% !important;
  }
  
  .New-customer-head {
    font-size: 15px;
    font-weight: 600;
  }
  
  .customer-sentence {
    padding: 10px;
  }
  
  .Row1 {
    margin-top: 2.5%;
  }
  
  .radio-btn {
    margin: 4px;
    color: orangered;
    border-style: solid;
  }
  
  .error {
    color: red;
  }
  
  .New-customer-submit-button {
    margin-top: 20px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(89, 89, 250);
    margin-bottom: 10px;
  }
  
  @media(max-width: 992px) {
    .New-Customer-container-first.sidebar-expanded {
      margin-left: 50%;
    }
  }
  