.count-box{
    border-style: double;
    border-width: thin;
border-color: rgb(211, 209, 207);
color: #145693;
height: 130px;
align-items: center;
justify-content: center;
text-align: center;
}


.count-box {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.count-box:hover {
  /* background-color: #2492eb; */
  background-color: #aecdeb;
  color: rgb(70, 67, 67) !important; 
  transform: scale(1.05); 
  border-style: double;
}  

.cus-code{
    text-align: left;
    padding: 10px;
}
.Customer-dashboard-head{
    /* background-color: rgb(127, 219, 255); */
    height: 50px;
    /* align-items: center; */
    text-align: left;
    padding-left: 20px;
}
/* Customer_Login_Dashboard.css */
/* 
.vertical-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
}

.vertical-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.Customer-dash-container {
  display: flex;
}

.left-sidebar {
  flex: 0 0 200px;
  margin-right: 20px;
}

.main-content {
  flex: 1;
}

.Customer-dash-container.sidebar-expanded  {
    padding-left: 220px;
}
.dash-url-expand.sidebar-expanded  {
  padding-left: 250px;
}
@media (max-width: 768px) {
  .Customer-dash-container {
      flex-direction: column;
  }
  
  .left-sidebar {
      margin-right: 0;
      margin-bottom: 20px;
  }
}
