
.allcard{
    width: 80%;
}
.card1{
    border: 1px solid black;
    height: 180px;
    width: 70%;
}

.card2{
    border: 1px solid black;
    height: 180px;
    width: 70%;
}
.card3{
    border: 1px solid black;
    height: 180px;
    width: 70%;
}
.card4{
    border: 1px solid black;
    height: 180px;
    width: 70%;
}


